//Colors
$blanco: hsl(0, 0%, 100%);
$grisClaro:hsl(0, 0%, 98%);
$grisOscuro: hsl(0, 0%, 52%);
$azul:  hsl(200, 15%, 8%);
$negro: hsl(0, 0%, 3%);

//Styles for dark Mode
$azulOscuroBg: hsl(207, 26%, 17%);
$azulOscuro: hsl(209, 23%, 22%);
//Typography
$fuentePrincipal: 'Nunito Sans', sans-serif;
$ligera: 300;
$media: 600;
$bold: 800;

$desktop:1200px;
$tablet: 700px;
$mobile: 375px;