@use 'base/variables' as v;
.card{
    background-color: v.$blanco;
    box-shadow: 1px 3px 12px -2px v.$grisOscuro;
    -webkit-box-shadow: 1px 3px 12px -2px v.$grisOscuro;
    -moz-box-shadow: 1px 3px 12px -2px  v.$grisOscuro;
    transition: transform .5s ease-out;
    max-width: 100%;
    padding-bottom: 5rem;
    max-height: 100%;
    &:hover{
        cursor: pointer;
        margin-top: 1rem;
       transform: translateY(-20px);
    }
    .imagen{
        max-width: 100%;
        img{
           max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
        
        p{
            font-weight: v.$media;
            margin: 0;
            font-size: 2rem;
            padding-left: 2rem;
            line-height: 1.5;
            span{
                font-weight: v.$ligera;
            }
        }
        .nombre{
            font-weight: v.$bold;
            font-size: 2.5rem;
            margin: 1.5rem 0;
            transition: color .3s ease-in;
        }
  
}

